.sidebar-container {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
    max-width: 290px;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    border-radius: 8px;
    box-sizing: border-box;
}

.sidebar-container h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.sidebar-container nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.sidebar-container nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4x;
    text-align: left;
    align-items: center;
    display: flex;
}

.sidebar-container nav a:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border-color: #0056b3;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    align-items: center;
}

.sidebar-container nav a.active {
    background-color: #0056b3;
    color: white;
    font-weight: 700;
    border-color: #004080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
    text-decoration: none;
    text-align: left;
    align-items: center;

}