.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 260px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.login-form h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
}
span{
    width: 100%;
}


.login-form input {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;

}

.login-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
    border-radius: .2rem;
}

.login-form button:hover {
    background-color: #45a049;
}