.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 260px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
}
span{
    width: 100%;
}

.register-form input {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.register-form label {
     font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
}

.register-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
    border-radius: .2rem;
}

.register-form button:hover {
    background-color: #45a049;
}

.register-form .error {
    color: red;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.register-form .success {
    color: green;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.register-form .link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.register-form .link a {
    color: #4CAF50;
    text-decoration: none;
}

.register-form .link a:hover {
    text-decoration: underline;
}