.transaction-container {
    padding: 10px 10px 0 10px;
    background-color: #333;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    display: flex;
    /* grid-template-columns: 2fr; */
    /* gap: 10px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1;
    flex-direction: row;

}
.transaction-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
    padding-top: 25px;
}

/* .transaction-container{
    display: flex;
    padding: 10px 10px 0 10px;
    flex-direction: column;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 8px;
    height: 100%;
    padding-top: 25px;
} */
.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.transaction-form h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #333;
}
span{
    width: 100%;
}


.transaction-form input {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.transaction-form select {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.transaction-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;

}

.transaction-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
    border-radius: .2rem;
}

.transaction-form button:hover {
    background-color: #45a049;
}
.transaction-table-content {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.transaction-table-content h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color:
    #333;
    margin-bottom: 10px;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;

}
.transaction-table th, .bank-table td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #eee;    
}

@media (min-width:1000px) {
   .transaction-container{
    width: 50%;
    align-items: center;
    margin: auto;
   }
}
@media (min-width:1400px) {
   .transaction-container{
    width: 40%;
    align-items: center;
    margin: auto;
   }
}