.public-layout-container {
    display: flex;
    box-sizing: border-box;
}
.public-layout-content {
    flex: 1;
    gap:10px;
    margin: 0;
    /* padding: 10px 0; */
    
}
.public-layout-header {
    height: 70px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 8px;
}
.public-layout-container h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    /* margin-bottom: 1.5rem; */
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    width: 100%;
}
.public-layout-header ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.public-layout-header ul li {
    list-style: none;
    color: #333;
    margin-left: 20px;
    font-weight: 600;
}
.public-layout-header ul li input {
    background-color: lightgray;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.public-layout-header ul li input:hover {
    background-color: #333;
    color: #f2f2f2;
}
.public-layout-header ul li:first-child {
    margin-left: 0;
}
.public-layout-header ul li:last-child {
    margin-right: 0;
}

